@charset "UTF-8";
body{
	text-align: center;
}

/*header関連*/
.header{
	height: 60px;
	line-height: 60px;
	width: 100%;
	background-color: #89c3eb;
	margin-bottom: 50px;
}

.header_wrap{
	max-width: 1080px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.header_ul{
 display: flex;
}

.header_li{
	margin-right: 20px;
}
/*header関連ここまで*/

/*メッセージ関連*/
.message{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 50px;
}

/*共通*/
/*ボタン関連*/
.input{
	margin-bottom: 20px;
}

.btn {
	  display: inline-block;
	  text-align: left;
	  background-color: #fff;
	  font-size: 14px;
	  font-weight: bold;
	  padding: 5px 10px;
	  border-radius: 4px;

	  border: 2px solid #84a2d4;
	  color:  #84a2d4;
	}

	.btn:hover{
	  background-color: #84a2d4;
	  border-color:#84a2d4;
	  color: #FFF;
	  cursor: pointer !important;
	}

/*ヘッダーボタン*/
	.btn.header_btn{
	  border: 2px solid #708090;
	  color:  #708090;
	}

	.btn.header_btn:hover{
	  background-color: #708090;
	  border-color:#708090;
	  color: #FFF;
	  cursor: pointer !important;
	}

/*管理画面内のボタン関連*/
.ttl{
	font-size: 20px;
	font-weight: bold;
	padding: 15px;
}

.manager_form{
	text-align:center;
	padding-bottom: 20px;
	margin: 0 auto;
}