<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>受注入力</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/reset.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/System.css}" type="text/css">
</head>
<body>
<header class="header">
       <div class="header_wrap">
       	<h1 class="header_ttl">受注入力画面</h1>

		<nav  class="header_nav">
			<ul  class="header_ul">
				<li  class="header_li">
					<form class="manager_menu"action="#" th:action="@{/BackManager}" method="post">
				     	<input class="btn header_btn" type="submit" value="管理者メニューへ">
				   </form>
				</li>
				<li  class="header_li">
					<form action="#" th:action="@{/logout}" method="post">
					    <input class="btn header_btn" type="submit" value="ログアウト">
					</form>
				</li>
			</ul>
	      </nav>
	</div>
</header>
	<div th:if="${message} != null"> 
	<h3 th:text="${message}"></h3>
  	</div><br>
	<div th:if="${resultText} != null"> 
	<h3 th:text="${resultText}"></h3>
  	</div>
	<br>

	<div th:if="${QuotationList != null}">
  	
	<table border="1">
		<tr>
			<th>No</th><th>商品名</th><th>商品個数</th><th>単価</th><th>合計金額</th>
		</tr>
		<tr th:each="list : ${QuotationList}">

			<td th:text="${list.quotation_no}"></td>
			<td th:text="${list.item_name}"></td>
			<td th:text="${list.item_buy_count}"></td>
			<td th:text="${list.item_price}"></td>
			<td th:text="${list.item_price} * ${list.item_buy_count}"></td>
			
		</tr>
	</table>
	</div>
<br>
	<form method="POST" action="clientOrderFixing">
	<input class="btn"  type="submit" value="受注" onclick="return confirm('受注入力')">
	</form>
<br>
	

</body>
</html>
